*{
    margin: 0;
    padding: 0;
    color: black
}

header{
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 0px 3px 5px #000;
}
#subheader{
    width: 960px;
    margin: auto;
}
#titulo{
    float: left;
    width: 300px;
    padding: 10px, 0px;
}
#titulo a{
    font-size: 500px;
    color: black;
}
header #subheader nav {
    float: left;
    width: 660px;
    padding: 30px 0px;
    text-align: right;
}
#titulo a:hover{text-decoration: none;}
header #subheader nav ul li {
    display: inline;
    font-family: sans-serif;
}
header #subheader nav ul li a{
   color: black; 
   font-size: 18px;
   padding: 10px;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
header #subheader nav ul li a:hover{
    color: white;
    background: #1798af;
    text-decoration:none;
}

th{
    background-color: white;
}
tr{
    background-color: white;
    box-shadow: 0px 0px 10px #000; 
}
table{
font-size:xx-large;
}
input{
    font-size: 15px;
}
h2{
    background-color: rgb(147, 241, 241);
    width: 300px;
    height: 150px;
    font-size: 30px;
}
#padre{
    z-index: 2;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 45px;
    padding-top: 200px;
    
} 
h6{
    padding-top: 20px;
}
#thijo{
    margin: 20px;
    font-size: 40px;
    width: 550px;
    margin-top: 150px;
}
#im-hijo img{ 
    z-index: 1;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    padding-left: 800px;
}